# Database Configuration
DATABASE=mydb
DB_HOST=localhost
DB_PORT=5432
USER_NAME=my_user
USER_PASSWORD=my_pass
DB_CONTAINER=postgres_container

# Backend Configuration
BACKEND_PORT=8000
BACKEND_CONTAINER=backend
BACKEND_WORKDIR=/app/src

# Frontend Configuration
FRONTEND_PORT=3000
FRONTEND_CONTAINER=frontend
FRONTEND_WORKDIR=/usr/src/app
NODE_ENV=development
API_URL=http://backend:8000
BACKEND_URL=http://localhost:8000


# Common Configuration
TZ=Asia/Tokyo

# Swagger Configuration
SWAGGER_PORT=8080
SWAGGER_CONTAINER=swagger
SWAGGER_WORKDIR=/app/src

# JWT
JWT_SECRET=secret
JWT_EXPIRATION=1h

# PGAdmin Configuration
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
